.azul1{
    background-color: #19405b; 
 }
 .azul2{
     background-color: #337CA6;
 }
 .verde{
     background-color: #171D21;
 }
 .fondo{
     background: rgb(23,29,33);
     background: linear-gradient(180deg, rgba(23,29,33,1) 0%, rgba(25,64,91,1) 100%);
 }
 .gradientevioleta{
     background: rgb(90,20,128);
     background: linear-gradient(0deg, rgba(90,20,128,1) 0%, rgba(180,39,255,1) 100%);
 
 }
 .margensup{
     margin-top: 80px;
 }
 .botonredondeado {
     border-radius: 200px;
 }

 .botonerror{
    border-radius: 20px;
 }

.error{
    font-family: 'Slabo 27px', serif;
    text-shadow: 
    0 0 5px #7BACFF,
    0 0 10px #7BACFF,
    0 0 20px #7BACFF,
    0 0 40px #7BACFF,
    0 0 80px #7BACFF,
    0 0 90px #7BACFF,
    0 0 100px #7BACFF,
    0 0 150px #7BACFF;
}

#tablaProductos{
    background-color: whitesmoke;
}

.botontabla{
    border-color: black;
}